<div class="sidebar">
  <% if user_signed_in? %>
    <nav class="sidebar-nav">
      <ul class="nav">
        <li class="nav-item">
          <%= link_to raw("#{icon 'dashboard'} Dashboard"), root_path, class: "nav-link #{'active' if controller_name.eql?('home')}" %>
        </li>
        <li class="nav-item <%= 'active' if controller_name.eql?('courses') %> ">
          <%= link_to raw("#{icon 'bookmark-o'} Courses"), courses_path, class: "nav-link #{'active' if controller_name.eql?('courses')}" %>
        </li>
      </ul>
    </nav>
  <% end %>
</div>